.services {
    display: inline-block;
    background: #040610;
    padding: 5rem 2rem;
}

.services-title {
    padding: 30px;
}

.services-title h3 {
    line-height: .2;
}

.single-service {

    margin: 1rem 1.5rem;
    padding: 30px 15px;
    transition: box-shadow .3s ease-in-out;
}

.single-service:hover {
    border-radius: 8px;
    box-shadow: 4px 4px 10px #303f8d;
}

.single-service h4 {
    color: #e9dadb;
    padding: 1rem 0rem;
}

.single-service p {
    color: rgba(245, 245, 245, 0.748)
}

@media (min-width: 1076px) {
    .single-service {
        width: 21%;
    }
}